/* #canvas {
    border: 1px solid black;
}
#canvas2 {
    border: 1px solid black;
} */

/* body {
    padding: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}



label,  canvas, button, a {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.botonera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -100px;
}

input {
    color: black;
    width: 1000px;
    border:none;
    border-bottom:1px solid black;
}

.input-2{
    width: 300px;
}

form>div {
    line-height:2.5em;
}

form span {
    color: black;
    width:70px;
    display:inline-block;
    font-weight: bold;
    
}

.line-form{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.form-line{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: end;
    align-items: end;
    margin-top: 60px;
}
  
#btnLimpiar{
    background-color: red;
    height: 60px;
    
}
#btnLimpiar:hover{
    background-color: rosybrown;
}

.logo{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-left: 900px;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 50px;
}

.certifico{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
   
    
}

.certifico > h3 {
    margin-left: -10px;
    margin-top: 30px;
}

.certifico > p {
    font-size: 15px;
    text-align: justify;
    margin-left: -5px;
}


.certifico > div {
    font-size: 15px;
    text-align: justify;
    margin-left: -5px;
}

.firmas{
    display: flex;
    flex-direction: row;
    padding: 200px;
    gap: 200px;
    column-gap: 150px;
    
 
}

.textos-firmas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textos-firmas {
    margin-left: 50px;
}

.visita{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.agente{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}


@media (max-width: 400px) {

    #btnLimpiar{
        width: 200px;
        height: 40px;
    }

    .botonera{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .firmas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0; /* Elimina el padding */
        gap: 20px; /* Ajusta el espacio entre elementos */
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .line-form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .form-line{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: flex-end; /* Ajusta la justificación */
        align-items: flex-end; /* Ajusta la alineación */
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    input {
        width: 250px; /* Haz que el ancho del input sea del 100% */
    }

    .certifico{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 35px;
    }  

    .certifico > p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        text-align: justify;
        width: 90%; /* Haz que el ancho del párrafo sea del 100% */
    }

    .container-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .logo{
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-bottom: 20px; /* Ajusta el margen inferior */
        margin-top: 20px; /* Ajusta el margen superior */
    }

    form > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 50px; /* Ajusta el margen superior */
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        padding: 20px; /* Ajusta el padding */
        margin-top: 1600px;
    }

    #canvas {
        width: 100%; /* Haz que el lienzo ocupe el ancho completo */
    }
    
    h1{
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 0; /* Elimina el margen izquierdo */
    }
}
 */




/* @media (max-width: 400px) {


    .botonera{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -100px;
        margin-left: -850px;
    }

    .firmas{
        display: flex;
        flex-direction: column;
        padding: 200px;
        gap: 200px;
        column-gap: 150px;
        margin-left: -900px;
        
     
    }


    .line-form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: -900px;
        
    }

    .form-line{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: end;
        align-items: end;
        margin-top: 60px;
        margin-left: -900px;
    }


    input {
        width: 250px;
    }


    .certifico{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }  
    .certifico > h3 {
        margin-left: -900px;
    }   
    .certifico > p {
        font-size: 12px;
        text-align: justify;
        margin-left: -900px;
        width: 280px;
    }


    .container-1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .logo{
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: -890px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form > h3 {
        margin-left: -900px;
        margin-top: 60px;
    }

    body {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
      
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
       margin-left: 1250px;
       padding: 800px;
    }
    
    #canvas {
        width: 70%;
    }

    label, canvas, button, a {
        margin-bottom: 5px;
    }

    button {
        padding: 5px 10px;
        font-size: 16px;
    }

    .botonera{
        flex-direction: column;
    }

    
    h1{
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: -890px;
    }
} */

